@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

html {
  font-family: helvetica,sans-serif;
}

.poster_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center_tings {
  position: relative;
  color: white;
}

.image_mid {
  height: 38vh;
  width: auto;
}

.date_info {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 5%;
  left: 3%;
}

.artist_name {
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  position: absolute;
  top: 60%;
  left: 45%;
}

.title_1, .title_2 {
  color: #e83538;
  text-shadow: 8px 10px #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 13rem;
}

.title_2 {
  font-size: 15rem !important;
}
